html{
    box-sizing: border-box;
    
}

wrapper{

}
header{
}
#logo{
    position: fixed;
    width:50%;
    transform: scale(.25);
}
ul.main-nav{
    position: fixed;
    width:100%;
    flex-direction: row; 
    display:flex;
    background-color:#999;

}
#our-story{
    margin: 0 50 0 0;
    
}
#menu{
    
}
#reservations{
    
}
#news{
    
}
#reviews{
    
}
h1{
    
}

body{
    
}
.items{
    
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
    
}
.items>table{
border-collapse: collapse;
    
    
}
.menu-item-name{
    
}
.menu-item-price{
    
}
.menu-item-detail{
    
}
#feature{
    
}
h6{
    
}
.feature-dish{
    
}
.feature-img{
    
}
.feature-name{
    
}
.feature-price{

}
<!--
still need <svg> selection
    class or id?
-->!

footer{
    
}
#info{
    
}
.location{
    
}
.location>p{
    
}
#blog{
    
}
#blog>p{
    
}
#footer-copyright{
    
}
#footer-logo{
    
}
#footer-copyright>p{
    
}

#banner{
    
}
.banner-photo{
    position:static;
    background-position: center;
    
}
#banner-photo-text{
    
}
h2{
    font-family: sans-serif;
    font-size: 72px;
}
h3{
    
}
hr{
    
}
#red-ribbon{
    
}
h4{
    
}






<!--
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Satisfy', cursive;

#f34949
#3b3b3b
#f1df1a
#e3e1e1



--!>