html{
    box-sizing: border-box;
    background-color: #3b3b3b;
}
body{
 margin:0;   
}
.wrapper{
    
    width:85%;
    margin:auto;
    max-width: 900px;
    
}
header{
    position: fixed;
    width:100%;
    top:0px;
    left:-1px;
    height:70px;
    background-color:#ffffff;
    z-index: 10;
}
.top{
    display:flex;  
    justify-content: space-between;
}
#logo{
    
    margin-right: 11%;
    height:50px;
}
ul.main-nav{
    flex-grow: 2;
    background-color:#ffffff;
    display:flex;
    justify-content:flex-end;
    margin-right: 0px;
    list-style: none;
    margin-top: 25px;
    
}
#our-story{
    
}
#menu{
    
}
#reservations{
    
}
#news{
    
}
#reviews{
    
}
h1{
    font-family: 'Goudy Bookletter 1911', serif;
    color: #000000;
    font-size: 12px;
    margin:auto 5px auto 0px;
}

#banner{
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
}
.banner-photo{
    position: relative;
    width:110%;
    max-width: 900px;
    margin:0 auto;
}
#banner-photo-text{
    margin:0 auto;
}
h2{
   font-family: 'Satisfy', cursive; 
    margin:0 auto;
}
h3{
    font-family: 'Goudy Bookletter 1911', serif;
    margin:0 auto;
}
hr{ 
    border-color: red;
}
#red-ribbon{
    
}
h4{
    
}

.items{
    display: flex;
}
.items>dl{
    font-family: 'Goudy Bookletter 1911', serif;
    justify-content: space-between;
    width:50%;
    margin-left: 0px;
}
.menu-item-name{
    margin-left: 0px;
    font-size: 16px;
}
.menu-item-price{
    position: relative;
    text-align: right;
    top:-40px;
    
}
.menu-item-detail{
    margin-left: 0px;
    color: #3b3b3b;
    font-size: 12px;
}
#menu-space{
    width:90px;
}


#feature{
    display:flex;
    margin-bottom: 200px;
}
h6{
   font-family: 'Goudy Bookletter 1911', serif; 
}
.feature-dish{
    flex-grow: 1;
    font-family: 'Goudy Bookletter 1911', serif;
}
.feature-img{
    
}
.feature-name{
    
}
.feature-price{
    position: relative;
    text-align: right;
    top:-40px;
}

#bottom{
    position: relative;
    left:-10px;
    bottom:-10px;
    height:150px;
    width: 101.8%;
    background-color:#3b3b3b;
    
}
#info{
    display:flex;
    font-family: 'Goudy Bookletter 1911', serif;
    color:#ffffff;
}
.location{
    flex-grow: 1;
}
.location>p{
    
}
#blog{
    flex-grow: 1;
}
#blog>p{
    
}
#footer-copyright{
    flex-grow: .;
}
#footer-logo{
    
}
#footer-copyright>p{
    
}







<!--
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Satisfy', cursive;

#f34949
#3b3b3b
#f1df1a
#e3e1e1



--!>